In [131]:
"ba" < "b"

False

In [2]:
"ba"<"bb"

True

In [3]:
"b" < "ba"

True

In [4]:
5<3 and print("hey")

False

In [5]:
5>3 and print("hey")

hey

In [6]:
5<3 or print("hey")

hey

In [7]:
5>3 or print("hey")

True

In [8]:
5<3 & print("hey")

hey

TypeError: unsupported operand type(s) for &: 'int' and 'NoneType'

In [9]:
print("hello eric" + " would you like to lear some phyton today ?")

hello eric would you like to lear some phyton today ?

In [10]:
message = input("what would you like to say to eric?")

full_message = "{}  {}".format("hello eric,",message)
print(full_message)

what would you like to say to eric?You can success whatever you want!
hello eric,  You can success whatever you want!

In [11]:
ali = "ayşeyi seviyorum"
veli = "ben dah çok seviyorum"

sorun = "{} {}".format(ali,veli)
print(sorun)

ayşeyi seviyorum ben dah çok seviyorum

In [12]:
print(message)

You can success whatever you want!

In [13]:
del(ali)
print(ali)

NameError: name 'ali' is not defined

In [133]:
a = b = c = d = 30

In [15]:
print(a)

30

In [21]:
pyhton , java = "a","b"

In [22]:
print(pyhton + "\t" + java )

a	b

In [23]:
# Casting functions

In [135]:
converted_b = str(a)
converted_b

'30'

In [25]:
print(converted_b)

30

In [26]:
type(converted_b)

str

In [27]:
c = 5.2

In [28]:
converted_c = int(c)

In [29]:
converted_c

5

In [30]:
9 / 2

4.5

In [31]:
9//2

4

In [32]:
 2 *3

6

In [33]:
2**3

8

In [34]:
2 ** (2/2)

2.0

In [137]:
old = "my age is "
age = 24
print(old ,age)

my age is  24

In [40]:
print(old, age ,sep = "-" )

my age is -24

In [42]:
print(old, age ,sep = "-",end = " ")
print(old, age ,sep = "-" )
print(old, age ,sep = "-" )

my age is -24 my age is -24
my age is -24

In [138]:
print(old, "24",sep = "*")

my age is *24

In [49]:
print(old,end = "*")

my age is *

In [140]:
print(1 and 0)

0

In [51]:
print(not 1)
print( 1 and "türkiye" and "italy")

False
italy

In [52]:
print(0 and "türkiye" and 1)

0

In [53]:
print("" and "türkiye " and  1)

In [54]:
print("" and "türkiye " and  1)

In [56]:
print(False and "türkiye " and  1)

False

In [58]:
"hello" * 3

'hellohellohello'

In [59]:
#String Methods

web_adress = "www.datascience.com"

In [62]:
web_adress.startswith(".com")

False

In [63]:
web_adress.endswith(".com")

True

In [64]:
web_adress.startswith("data",4,12)

True

In [65]:
name = "hüseyin cataloglu"

In [70]:
print(name.replace("a","e", 1))

hüseyin cetaloglu

In [71]:
print(name.swapcase())

HÜSEYIN CATALOGLU

In [72]:
print(name.capitalize())
print(name.upper())
print(name.title())

Hüseyin cataloglu
HÜSEYIN CATALOGLU
Hüseyin Cataloglu

In [75]:
print(name.strip())

hüseyin cataloglu

In [77]:
isim = "  nursena  "
print(isim.strip())
print(name.strip("a"))

nursena
hüseyin cataloglu

In [82]:
a = 1
while a == 1:
    print(" a'yı 1'den kurtarınız")
    a = int(input())
print(a)

 a'yı 1'den kurtarınız
1
 a'yı 1'den kurtarınız
1
 a'yı 1'den kurtarınız
1
 a'yı 1'den kurtarınız
1
 a'yı 1'den kurtarınız
2
2

In [84]:
print(*isim.strip())

n u r s e n a

In [88]:
#String Formatting

mesaj = "ı want to live in %s for the future"
place_wanted = input("where would you want to live in the future ? ")
print(mesaj %(place_wanted))
print(mesaj %"turkey")

age = int(input("please type your age :"))
height = float(input("please type your height :"))
print("ı am %d years old, %.2f height" %(age,height))

where would you want to live in the future ? England
ı want to live in England for the future
ı want to live in turkey for the future
please type your age24
please type your height1.75
ı am 24 years old, 1.75 height

ANOTHER WAY OF STRİNG FORMATTİNG

In [89]:
bazaar = "ı have bought {} kilos {} from the bazaar "
kilos = 2
fruit = "strawberry"
print(bazaar.format(kilos,fruit))
print(bazaar.format(5,"apple"))
print("ı have bought {} kilos {} from the bazaar ".format(kilos,fruit))

ı have bought 2 kilos strawberry from the bazaar
ı have bought 5 kilos apple from the bazaar
ı have bought 2 kilos strawberry from the bazaar

In [90]:
print("{3} vs {2} matches have just ended {1} - {0}".format(3,5,"galatasaray","fenerbahçe"))

fenerbahçe vs galatasaray matches have just ended 5 - 3

F-String methodu

In [94]:
kilos = 2
fruit = "peach"
print(f"ı have bought {kilos} kilos {fruit} from the bazaar")
# we can make operations or method calling by f-string

print(f"My name is {'hüseyin'.upper()}")
print(f" 2 exponential 3 is {2**3}")

ı have bought 2 kilos peach from the bazaar
My name is HÜSEYIN
 2 exponential 3 is 8

Introduction To Lists

Lists are changeable.
It provides the opportunity of containing different data types in it 
They are sorted.
WE can create lists with [] or list() method

In [1]:
premier_league = ["liverpool","man.cit","astonvilla","everton"]
print(premier_league)
print(type(premier_league))

['liverpool', 'man.cit', 'astonvilla', 'everton']
<class 'list'>

In [3]:
list_example = [23,12.4,True,"ali",premier_league]
list_example

[23, 12.4, True, 'ali', ['liverpool', 'man.cit', 'astonvilla', 'everton']]

In [4]:
len(list_example)

5

In [6]:
variable = 23, 12.4, True, 'ali', ['liverpool', 'man.cit', 'astonvilla', 'everton']
type(variable)

tuple

In [9]:
new_list = list(variable)
print(new_list)
type(new_list)

[23, 12.4, True, 'ali', ['liverpool', 'man.cit', 'astonvilla', 'everton']]

list

In [16]:
#İndexing for Lists 
print(new_list[0])
print((new_list[4]))
new_list[4][1]
new_list[1:4]

23
['liverpool', 'man.cit', 'astonvilla', 'everton']

[12.4, True, 'ali']

In [17]:
country_list = ["turkey", "greece","egypt","bulgaria"]
country_list

['turkey', 'greece', 'egypt', 'bulgaria']

In [25]:
town_list_turkey = ["ankara","izmir","istanbul"]

In [28]:
print(town_list_turkey + ["adana"])
print(town_list_turkey)
town_list_turkey = town_list_turkey + ["adana"]
print(town_list_turkey)

['ankara', 'izmir', 'istanbul', 'adana']
['ankara', 'izmir', 'istanbul']
['ankara', 'izmir', 'istanbul', 'adana']

In [30]:
#Changing list members 
town_list_turkey [0] = "ardahan"
town_list_turkey

['ardahan', 'izmir', 'istanbul', 'adana']

In [31]:
town_list_turkey [0:3]  = "mersin","osmaniye","gaziantep"
town_list_turkey

['mersin', 'osmaniye', 'gaziantep', 'adana']

In [32]:
#deleting members of list
del town_list_turkey[3]
town_list_turkey

['mersin', 'osmaniye', 'gaziantep']

In [35]:
# List methods
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [37]:
#append method
int_list = [10,20,30,40,50,60,70]
int_list.append(70)
int_list

[10, 20, 30, 40, 50, 60, 70, 70]

In [38]:
int_list.remove(70)
int_list

[10, 20, 30, 40, 50, 60, 70]

In [39]:
int_list.insert(1,15)
int_list

[10, 15, 20, 30, 40, 50, 60, 70]

In [40]:
int_list.pop(2)

20

In [41]:
int_list

[10, 15, 30, 40, 50, 60, 70]

In [143]:
string_list = ["c","python","j","C","R","r","o","O"]

string_list

<class 'tuple'>

('c', 'python', 'j', 'C', 'R', 'r', 'o', 'O')

In [43]:
string_list.sort()
string_list

['C', 'O', 'R', 'c', 'j', 'o', 'python', 'r']

# Introduction to Tuples

Tuples are immutable

they are pretty fast when compared to other data types. it allocates less storage fields,spaces

It can contain different data types

we can create tuples by normal paranthesis () or tuple() function

In [144]:
tuple_example = ("h","e","l","l","o")
# we can create a tuple like this : variable = "3",3,5,6,True,"4","hüseyin"
print(tuple_example)
type(tuple_example)

('h', 'e', 'l', 'l', 'o')

tuple

In [51]:
#Converting string to tuple
tuple_word = "hello"
tuple_example2 = tuple(tuple_word)
print(tuple_example2)
type(tuple_example2)

('h', 'e', 'l', 'l', 'o')

tuple

In [52]:
#Converting List to tuple
yeni_liste = [10,2,True,"ali","mehmet",5]
new_tuple = tuple(yeni_liste)
print(new_tuple)
type(new_tuple)

(10, 2, True, 'ali', 'mehmet', 5)

tuple

In [145]:
tuple_variable = "hello",3,4,5,"data","science"
print(tuple_variable)
type(tuple_variable)

('hello', 3, 4, 5, 'data', 'science')

tuple

In [56]:
# one membered tuple
one_tuple = ("hello",)
print(type(one_tuple))
#lets try without comma
one_tuple2 = ("hello")
type(one_tuple2)

<class 'tuple'>

str

# # İndexing and Sliceing for Tuples

In [57]:
my_tuple = ("data","science",100,200,[10,"python",25],(8,9,"number"))

In [58]:
print(my_tuple)

('data', 'science', 100, 200, [10, 'python', 25], (8, 9, 'number'))

In [59]:
my_tuple[2]

100

In [60]:
my_tuple[2 : 4]

(100, 200)

In [61]:
my_tuple[4]

[10, 'python', 25]

In [62]:
my_tuple[:5:2]

('data', 100, [10, 'python', 25])

In [64]:
## tuples are immutable
my_tuple[0] = "machine learning"

TypeError: 'tuple' object does not support item assignment

# # DİCTİONARY

Dictionaries can have multiple data types

They are unordered, not ordered by an index sequence

Members can be replaced

declared by fancy paranthesis

Key() : Value() = item , items form dictionaries

They can be composed by {} or dict() function

In [66]:
vehicle = {"car" : "lamborghini" , "airplane" : "uçak"}
print(vehicle, type(vehicle), sep = "\n")

{'car': 'lamborghini', 'airplane': 'uçak'}
<class 'dict'>

In [68]:
#WE DONT USE QUOTES FOR KEY İN DİCT() FUNC
vehicle2 = dict(car = "mercedes", airplane = "airbus")
print(vehicle2 , type(vehicle2) , sep = "\t")

{'car': 'mercedes', 'airplane': 'airbus'}	<class 'dict'>

In [87]:
capital = {"usa" : "washington",
          "germany" : "berlin",
          "uk" : "london"}
#if we want to reach values, we should type its key
capital["germany"]

'berlin'

In [76]:
school_notes = {"school1" : {"classA" : 65 ,
                            "ClassB": 75,
                            "ClassC" : 87},
               "School2" : {"classA" : 65,
                              "ClassB" : 66,
                              "ClassC" : 89}}

In [77]:
print(school_notes["school1"])

{'classA': 65, 'ClassB': 75, 'ClassC': 87}

In [84]:
print(school_notes["school1"]["ClassC"])

87

In [88]:
#ADDİNG MEMBERS & AND DELETİNG & Changing
capital ["turkey"] = "Ankara"
capital

{'usa': 'washington', 'germany': 'berlin', 'uk': 'london', 'turkey': 'Ankara'}

In [89]:
capital ["germany"] = "Stutgart"
capital

{'usa': 'washington',
 'germany': 'Stutgart',
 'uk': 'london',
 'turkey': 'Ankara'}

In [90]:
del(capital["germany"])
capital

{'usa': 'washington', 'uk': 'london', 'turkey': 'Ankara'}

In [94]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [95]:
capital.items()

dict_items([('usa', 'washington'), ('uk', 'london'), ('turkey', 'Ankara')])

In [96]:
capital.keys()

dict_keys(['usa', 'uk', 'turkey'])

In [97]:
capital.values()

dict_values(['washington', 'london', 'Ankara'])

In [99]:
#CHANGİNG DİCT KEYS TO LİST 
list1 = list(capital.keys())
list1

['usa', 'uk', 'turkey']

In [102]:
capital.update({"RusSia" : "MOSKOW"})
capital.update({"GERMANY" : "BERLİN"})
capital

{'usa': 'washington',
 'uk': 'london',
 'turkey': 'Ankara',
 'RusSia': 'MOSKOW',
 'GERMANY': 'BERLİN'}

# # SET

THEY ARE UNORDERED , cant operate indexing

MEMBERS ARE UNİQUE

NOT IMMUTABLE

CAN CONTAİN DİFFERENT DATA TYPES

CAN BE CREATED BY Set()

In [107]:
list_example = [10,"data",7,8,True]

In [108]:
set_example = set(list_example)
set_example

{10, 7, 8, True, 'data'}

In [109]:
type(set_example)

set

In [111]:
tuple_example = (15,"data science",15,7,8,"data science")
set_example2 = set(tuple_example)

In [112]:
print(set_example2 , type(set_example2 ), sep = "\n")

{8, 'data science', 7, 15}
<class 'set'>

In [113]:
# string sentence by alone is separated on its characted for every data types
word = "hello data science"
word_set = set(word)

print(word_set)

{'l', 't', 'a', 'e', ' ', 'i', 'h', 'c', 'n', 'd', 'o', 's'}

In [130]:
word_set[0]

TypeError: 'set' object is not subscriptable

In [3]:
#Listten sete dönüştürme
List1 = [10,2,66,"hüseyin","b",True,"b"]
set1 = set(List1)
set1

{10, 2, 66, True, 'b', 'hüseyin'}

In [4]:
set1.add(99)
set1

{10, 2, 66, 99, True, 'b', 'hüseyin'}

In [5]:
set1.remove(99)
set1

{10, 2, 66, True, 'b', 'hüseyin'}

In [2]:
list1 = [12,11,10,"a","b","B","C","c",3.25]
set1 = set(list1)
set1

{10, 11, 12, 3.25, 'B', 'C', 'a', 'b', 'c'}

In [3]:
list2 = [1,6,10,3,"a","b","c"]
set2 = set(list2)
print(set1.union(set2))

{'c', 1, 'B', 3.25, 3, 6, 'a', 10, 11, 12, 'C', 'b'}

In [10]:
set1.difference(set2)

{11, 12, 3.25, 'B', 'C'}

In [12]:
set2.difference(set1)

{1, 3, 6}

In [4]:
set1.intersection(set2)

{10, 'a', 'b', 'c'}

In [5]:
set1 & set2

{10, 'a', 'b', 'c'}

In [6]:
set1.union(set2)

{1, 10, 11, 12, 3, 3.25, 6, 'B', 'C', 'a', 'b', 'c'}

In [7]:
set1.issubset(set2)

False

In [8]:
set2.issubset(set1)

False

In [9]:
#to find out whether intersection of two sets is empty or not
set1.isdisjoint(set2)

False

# İf Else

# Comparison operators

In [10]:
print("machine" == "Machine")

False

In [12]:
print("a" and False)

False

In [24]:
a = 40

if a> 40:
    print(a)
else:
    print(a)

40

In [25]:
tuple1 = "a",5,6,3,True,"hüseyin"
type(tuple1)

tuple

In [26]:
 5 in tuple1

True

In [27]:
games = "assasins","elden ring", "fifa"
type(games)

tuple

In [28]:
game1 = "fifa"

if game1 in games:
    if game1 == games[0]:
        print("game1 is assasins")
    elif game1 == games[1]:
        print("game1 is elden ring")
    elif game1 == games[2]:
        print("game1 is fifa")
else:
    print("bu oyun gamesde değil")

game1 is fifa

In [32]:
a = input("adını gir : ")
print("hello",a,sep = ":")

adını gir : a
hello:a

In [31]:
a = 4 if True else 5
a

4

In [33]:
maaşlar = [2000,2500,2250,2440,2400]
new_salaries = []
for i in maaşlar:
    increased_salary = i + (i * 10 // 100 )
    new_salaries = new_salaries + [increased_salary]
print(new_salaries)

[2200, 2750, 2475, 2684, 2640]

In [36]:
x , y,z = 0,0,0
x = y = z = 0

TypeError: cannot unpack non-iterable int object

In [39]:
isimler = ["ali","mehmet","ceyda","merve","irem"]
new_isimler = []
new_isimler = [i.upper() for i in isimler]
new_isimler

['ALI', 'MEHMET', 'CEYDA', 'MERVE', 'IREM']

In [40]:
print

In [ ]:
?print

In [42]:
print("ali","mehmet","rıza", sep =",")

ali,mehmet,rıza

# Functions

In [ ]:
def new_cube(x):
    print(x **3)

In [ ]:
new_cube(5)

In [ ]:
type(cube(3))

In [ ]:
print("a")